@use '../variaveis';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &__primary{
        color:variaveis.$textColor;
        background-color:variaveis.$corDeFundo;
    }

    @media (max-width: 640px){
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px){
        align-items: center;
        display: flex;
    }
}